<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Fifth Postulate</title>
        <link rel="stylesheet" href="css/fifth-postulate.css">
        <link rel="stylesheet" type="text/css" href="http://app.klipse.tech/css/codemirror.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/solarized-dark.min.css">
   </head>
    <body>
        <section class="header">
            <h1>Fifth Postulate</h1>
            <ul>
                <li>Consultancy</li>
                <li>Training</li>
                <li>Public Speaking</li>
            </ul>
        </section>
        <section class="footer">
            <dl>
                <dt>KvK</dt>
                <dd>65044649</dd>
                <dt>Contact</dt>
                <dd>info@fifth-postulate.nl</dd>
            </dl>
        </section>
        <section class="content">
            {{{content}}}
        </section>
        <script>window.klipse_settings = { selector: '.clojure' };</script>
        <script src="http://app.klipse.tech/plugin/js/klipse_plugin.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
